body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 800px;
    height: 800px;
    background: green;
    position: relative;
}

.yes {
    position: absolute;
    height: 100px;
    width: 200px;
    background: white;
}

.test {
    right: 0px;
    position: absolute;
    height: 100px;
    width: 200px;
    background: white;
}